@model SiteHamburguer.Models.InfoLogin

@{
    ViewBag.Title = "Create";
}

<h2>Cadastrar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.Label("Nome", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CLIENTE.NOME, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CLIENTE.NOME, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("CPF", htmlAttributes: new { @class = "control-label col-md-2" })<div class="col-md-10">
            @Html.EditorFor(model => model.CLIENTE.CPF, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CLIENTE.CPF, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("RG", htmlAttributes: new { @class = "control-label col-md-2" }) <div class="col-md-10">
            @Html.EditorFor(model => model.CLIENTE.RG, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CLIENTE.RG, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Telefone", htmlAttributes: new { @class = "control-label col-md-2" })<div class="col-md-10">
            @Html.EditorFor(model => model.CLIENTE.TELEFONE, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CLIENTE.TELEFONE, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Cidade", htmlAttributes: new { @class = "control-label col-md-2" })<div class="col-md-10">
            @Html.EditorFor(model => model.CLIENTE.CIDADE, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CLIENTE.CIDADE, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Bairro", htmlAttributes: new { @class = "control-label col-md-2" })<div class="col-md-10">
            @Html.EditorFor(model => model.CLIENTE.BAIRRO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CLIENTE.BAIRRO, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Rua", htmlAttributes: new { @class = "control-label col-md-2" })<div class="col-md-10">
            @Html.EditorFor(model => model.CLIENTE.RUA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CLIENTE.RUA, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Número", htmlAttributes: new { @class = "control-label col-md-2" })<div class="col-md-10">
            @Html.EditorFor(model => model.CLIENTE.NUMERO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CLIENTE.NUMERO, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Complemento", htmlAttributes: new { @class = "control-label col-md-2" }) <div class="col-md-10">
            @Html.EditorFor(model => model.CLIENTE.COMPLEMENTO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CLIENTE.COMPLEMENTO, "", new { @class = "text-danger" })
        </div>
    </div>
    @*CONSUMIDOR*@

    <div class="form-group">
        @Html.Label("Forma de pagamento", htmlAttributes: new { @class = "control-label col-md-2" }) <div class="col-md-10">
            @Html.EditorFor(model => model.COMSUMIDOR.FORMA_PAGTO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.COMSUMIDOR.FORMA_PAGTO, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Senha", htmlAttributes: new { @class = "control-label col-md-2" })<div class="col-md-10">
            @Html.EditorFor(model => model.COMSUMIDOR.SENHA_CON, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.COMSUMIDOR.SENHA_CON, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
   

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

}

<div>
    <a class="a1" href="@Url.Action("Index", "LoginConsumidor")">Voltar</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
