@model SiteHamburguer.Models.PedidoRadioButton

@{
    ViewBag.Title = "Pedido";
}


    <h2>Escolha o pão e os ingredientes</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
       
        <hr />
        @* PAES *@
        <div class="form-group">
            @Html.Label("Pão", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[0].COD_INGREDIENTE_FK, 4)
                <label for="radio-choice-v-2a">Gergelim</label>
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[0].COD_INGREDIENTE_FK, 5)
                <label for="radio-choice-v-2a">Integral</label>
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[0].COD_INGREDIENTE_FK, 6)
                <label for="radio-choice-v-2a">Brioche</label>
                @Html.ValidationMessageFor(model => model.HAMBURGUER_INGREDIENTE_LIST[0].COD_INGREDIENTE_FK, "", new { @class = "text-danger" })
            </div>
        </div>
        @* QUEIJOS *@
        <div class="form-group">
            @Html.Label("Queijo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[1].COD_INGREDIENTE_FK, 7)
                <label for="radio-choice-v-2a">Cheddar</label>
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[1].COD_INGREDIENTE_FK, 8)
                <label for="radio-choice-v-2a">Suiço</label>
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[1].COD_INGREDIENTE_FK, 9)
                <label for="radio-choice-v-2a">Gorgonzola</label>
                @Html.ValidationMessageFor(model => model.HAMBURGUER_INGREDIENTE_LIST[1].COD_INGREDIENTE_FK, "", new { @class = "text-danger" })
            </div>
        </div>
        @* CARNES *@
        <div class="form-group">
            @Html.Label("Carne", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[2].COD_INGREDIENTE_FK, 10)
                <label for="radio-choice-v-2a">Angus</label>
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[2].COD_INGREDIENTE_FK, 11)
                <label for="radio-choice-v-2a">Frango</label>
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[2].COD_INGREDIENTE_FK, 12)
                <label for="radio-choice-v-2a">Porco</label>
                @Html.ValidationMessageFor(model => model.HAMBURGUER_INGREDIENTE_LIST[2].COD_INGREDIENTE_FK, "", new { @class = "text-danger" })
            </div>
        </div>
        @* MOLHOS *@
        <div class="form-group">
            @Html.Label("Molho", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[3].COD_INGREDIENTE_FK, 13)
                <label for="radio-choice-v-2a">Maionese Temperada</label>
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[3].COD_INGREDIENTE_FK, 14)
                <label for="radio-choice-v-2a">Mostarda e Mel</label>
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[3].COD_INGREDIENTE_FK, 15)
                <label for="radio-choice-v-2a">Barbecue</label>
                @Html.ValidationMessageFor(model => model.HAMBURGUER_INGREDIENTE_LIST[3].COD_INGREDIENTE_FK, "", new { @class = "text-danger" })
            </div>
        </div>
        @* SALADAS *@
        <div class="form-group">
            @Html.Label("Salada", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[4].COD_INGREDIENTE_FK, 16)
                <label for="radio-choice-v-2a">Salada Padrão</label>
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[4].COD_INGREDIENTE_FK, 17)
                <label for="radio-choice-v-2a">Salada com Cebola</label>
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[4].COD_INGREDIENTE_FK, 18)
                <label for="radio-choice-v-2a">Salada com Pepino</label>
                @Html.ValidationMessageFor(model => model.HAMBURGUER_INGREDIENTE_LIST[4].COD_INGREDIENTE_FK, "", new { @class = "text-danger" })
            </div>
        </div>
        @* ADICIONAIS*@
        <div class="form-group">
            @Html.Label("Adicional", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[5].COD_INGREDIENTE_FK, 19)
                <label for="radio-choice-v-2a">Onion Rings</label>
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[5].COD_INGREDIENTE_FK, 20)
                <label for="radio-choice-v-2a">Cebola Caramelizada</label>
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[5].COD_INGREDIENTE_FK, 21)
                <label for="radio-choice-v-2a">Bacon</label>
                @Html.ValidationMessageFor(model => model.HAMBURGUER_INGREDIENTE_LIST[5].COD_INGREDIENTE_FK, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index","HomeConsumidor")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
