@model SiteHamburguer.Models.PedidoRadioButton

@{
    ViewBag.Title = "Pedido";
}


<h2>Escolha o pão e os ingredientes</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table class="table">

        <hr />
        @* PAES *@

        <tr>
            <td>
                @Html.Label("Pão", htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[0].COD_INGREDIENTE_FK, 4)
                <label for="radio-choice-v-2a">Gergelim</label>
                &nbsp|&nbsp
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[0].COD_INGREDIENTE_FK, 5)
                <label for="radio-choice-v-2a">Integral</label>
                &nbsp|&nbsp
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[0].COD_INGREDIENTE_FK, 6)
                <label for="radio-choice-v-2a">Brioche</label>

                @Html.ValidationMessageFor(model => model.HAMBURGUER_INGREDIENTE_LIST[0].COD_INGREDIENTE_FK, "", new { @class = "text-danger" })

            </td>
        </tr>

        @* QUEIJOS *@
        <tr>
            <td>
                @Html.Label("Queijo", htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[1].COD_INGREDIENTE_FK, 7)
                <label for="radio-choice-v-2a">Cheddar</label>
                &nbsp|&nbsp
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[1].COD_INGREDIENTE_FK, 8)
                <label for="radio-choice-v-2a">Suiço</label>
                &nbsp|&nbsp
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[1].COD_INGREDIENTE_FK, 9)
                <label for="radio-choice-v-2a">Gorgonzola</label>
                &nbsp|&nbsp
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[1].COD_INGREDIENTE_FK, 1006)
                <label for="radio-choice-v-2a">Sem Queijo</label>
                @Html.ValidationMessageFor(model => model.HAMBURGUER_INGREDIENTE_LIST[1].COD_INGREDIENTE_FK, "", new { @class = "text-danger" })
            </td>
        </tr>
        @* CARNES *@
        <tr>
            <td>
                @Html.Label("Carne", htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[2].COD_INGREDIENTE_FK, 10)
                <label for="radio-choice-v-2a">Angus</label>
                &nbsp|&nbsp
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[2].COD_INGREDIENTE_FK, 11)
                <label for="radio-choice-v-2a">Frango</label>
                &nbsp|&nbsp
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[2].COD_INGREDIENTE_FK, 12)
                <label for="radio-choice-v-2a">Porco</label>
                &nbsp|&nbsp
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[2].COD_INGREDIENTE_FK, 1007)
                <label for="radio-choice-v-2a">Sem Carne</label>
               
                @Html.ValidationMessageFor(model => model.HAMBURGUER_INGREDIENTE_LIST[2].COD_INGREDIENTE_FK, "", new { @class = "text-danger" })
            </td>
        </tr>
        @* MOLHOS *@
        <tr>
            <td>
                @Html.Label("Molho", htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[3].COD_INGREDIENTE_FK, 13)
                <label for="radio-choice-v-2a">Maionese Temperada</label>
                &nbsp|&nbsp
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[3].COD_INGREDIENTE_FK, 14)
                <label for="radio-choice-v-2a">Mostarda e Mel</label>
                &nbsp|&nbsp
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[3].COD_INGREDIENTE_FK, 15)
                <label for="radio-choice-v-2a">Barbecue</label>
                &nbsp|&nbsp
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[3].COD_INGREDIENTE_FK, 1008)
                <label for="radio-choice-v-2a">Sem Molho</label>
                @Html.ValidationMessageFor(model => model.HAMBURGUER_INGREDIENTE_LIST[3].COD_INGREDIENTE_FK, "", new { @class = "text-danger" })
            </td>
        </tr>
        @* SALADAS *@
        <tr class="form-group">
            <td class="col-md-10">
                @Html.Label("Salada", htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[4].COD_INGREDIENTE_FK, 16)
                <label for="radio-choice-v-2a">Salada Padrão</label>
                &nbsp|&nbsp
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[4].COD_INGREDIENTE_FK, 17)
                <label for="radio-choice-v-2a">Salada com Cebola</label>
                &nbsp|&nbsp
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[4].COD_INGREDIENTE_FK, 18)
                <label for="radio-choice-v-2a">Salada com Pepino</label>
                &nbsp|&nbsp
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[4].COD_INGREDIENTE_FK, 1009)
                <label for="radio-choice-v-2a">Sem Salada</label>
                @Html.ValidationMessageFor(model => model.HAMBURGUER_INGREDIENTE_LIST[4].COD_INGREDIENTE_FK, "", new { @class = "text-danger" })
            </td>
        </tr>
        @* ADICIONAIS*@
        <tr>
            <td>
                @Html.Label("Adicional", htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[5].COD_INGREDIENTE_FK, 19)
                <label for="radio-choice-v-2a">Onion Rings</label>
                &nbsp|&nbsp
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[5].COD_INGREDIENTE_FK, 20)
                <label for="radio-choice-v-2a">Cebola Caramelizada</label>
                &nbsp|&nbsp
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[5].COD_INGREDIENTE_FK, 21)
                <label for="radio-choice-v-2a">Bacon</label>
                &nbsp|&nbsp
                @Html.RadioButtonFor(model => model.HAMBURGUER_INGREDIENTE_LIST[5].COD_INGREDIENTE_FK, 1010)
                <label for="radio-choice-v-2a">Sem Adicionais</label>
                @Html.ValidationMessageFor(model => model.HAMBURGUER_INGREDIENTE_LIST[5].COD_INGREDIENTE_FK, "", new { @class = "text-danger" })
            </td>
        </tr>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    </table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Criar" class="btn btn-default" />
        </div>
    </div>
}

<div>

    @Html.ActionLink("Voltar", "Index", "HomeConsumidor")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
