@model IEnumerable<SiteHamburguer.Models.PEDIDO_HAMBURGUER>

@{
    ViewBag.Title = "Peido";
}

<h2>Pedido: </h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("HAMBURGUER(ES) :")
        </th>
    </tr>
    @{int count = 1;}

    @foreach (var item in Model)
    {

        <tr>
            <th>

                @Html.DisplayName("HAMBURGUER " + count++)
            </th>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Adicionar outro", "CreateItemPedido")|
                @Html.ActionLink("Editar", "Edit", new { id = item.COD_HAMBURGUER_FK }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.COD_HAMBURGUER_FK })
            </td>
        </tr>
    }

</table>
