@model SiteHamburguer.Models.HAMBURGUER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HAMBURGUER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COD_HAMBURGUER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_HAMBURGUER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRECO_HAMBURGUER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRECO_HAMBURGUER)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.COD_HAMBURGUER }) |
    @Html.ActionLink("Back to List", "Index")
</p>
