@model SiteHamburguer.Models.INGREDIENTE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>INGREDIENTE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COD_INGREDIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_INGREDIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCR_INGREDIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCR_INGREDIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_INGREDIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_INGREDIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRECO_INGREDIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRECO_INGREDIENTE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.COD_INGREDIENTE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
