@model SiteHamburguer.Models.HAMBURGUER_INGREDIENTE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HAMBURGUER_INGREDIENTE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COD_HAMBURGUER_INGREDIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_HAMBURGUER_INGREDIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COD_HAMBURGUER_FK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_HAMBURGUER_FK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COD_INGREDIENTE_FK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_INGREDIENTE_FK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QUANTIDADE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUANTIDADE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRECO_TOTAL_HAM_ING)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRECO_TOTAL_HAM_ING)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.COD_HAMBURGUER_INGREDIENTE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
