@using SiteHamburguer.Models;
@model SiteHamburguer.Models.InfoLogin

<h2>Index</h2>
<style>
    #login-div {
        position: absolute;
        left: 40%;
        top: 40%;
        border: 1px solid #ccc;
        padding: 10px 10px;
    }

    .field-validation-error {
        color: red;
    }
</style>
<body>
    <div id="login-div">
        @using (Html.BeginForm("Autorize", "LoginConsumidor", FormMethod.Post))
        {
            <table>
                <tr>
                    <td></td>
                    <td style="text-decoration:underline">Teste</td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.CLIENTE.NOME)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.CLIENTE.NOME)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.ValidationMessageFor(model => model.COMSUMIDOR.SENHA_CON)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.COMSUMIDOR.SENHA_CON)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.COMSUMIDOR.SENHA_CON)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.ValidationMessageFor(model => model.COMSUMIDOR.SENHA_CON)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErroMessagem)</label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" name="name" value="Login" />
                        <input type="reset" name="name" value="Clear" />
                    </td>
                </tr>
            </table>
        }
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
