@model IEnumerable<SiteHamburguer.Models.PEDIDO_HAMBURGUER>

@{
    ViewBag.Title = "Details";
}


<h2>Pedidos</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("HAMBURGUER(ES) :")
        </th>
    </tr>
    @{int count = 1;}
    @{double preco = 0;}
</table>
<table class="table">
    @foreach (var item in Model)
    {

        <tr>
            <th>
                @Html.DisplayName("HAMBURGUER " + count++)
            </th>
            <th>
            </th>
        </tr>
        <tr>
            <td>
                R$ @Html.DisplayFor(modelItem => item.PRECO_TOTAL_PED_HAM)
            </td>
            <td>
                @Html.ActionLink("Detalhe", "DetalheHamburguer", new { id = item.COD_HAMBURGUER_FK })
            </td>
        </tr>
        preco += (double)item.PRECO_TOTAL_PED_HAM;
    }
</table>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Preço Total do Pedido: R$" + preco.ToString())
        </th>
    </tr>
</table>

<p>

    @Html.ActionLink("Concluir", "PedidoAceito", new { id = (int)Session["pedidoCOD"] })
    @Html.ActionLink("Cancelar", "Cancelar", new { id = (int)Session["pedidoCOD"] })
</p>
