@model SiteHamburguer.Models.PEDIDO

@{
    ViewBag.Title = "Final";
}

<h2>Final</h2>
<div>
    <h4>PEDIDO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Numero do pedido")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_PEDIDO)
        </dd>

        <dt>
            @Html.DisplayName("Preço do pedido")
        </dt>

        <dd>
            R$ @Html.DisplayFor(model => model.PRECO_PEDIDO)
        </dd>

        <dt>
            @Html.DisplayName("Status do pedido")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

    </dl>
</div>

@Html.ActionLink("Voltar", "Index")

