@model IEnumerable<SiteHamburguer.Models.PEDIDO>

@{
    ViewBag.Title = "Index";
}

<h2>Pedidos</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Numero do pedido")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.COD_PEDIDO)
        
            @Html.DisplayFor(modelItem => item.STATUS)
        </td>

        <td>
            @Html.ActionLink("Detalhes", "Details", new {  id=item.COD_PEDIDO })
        </td>
    </tr>
}

</table>
