@model SiteHamburguer.Models.PEDIDO

@{
    ViewBag.Title = "PedidoAceito";
}

<h2>PedidoAceito</h2>
<div>
    <h4>PEDIDO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Numero do pedido")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_PEDIDO)
        </dd>

        <dt>
            @Html.DisplayName("Preço do pedido")
        </dt>

        <dd>
           R$ @Html.DisplayFor(model => model.PRECO_PEDIDO)
        </dd>

        <dt>
            @Html.DisplayName("Status do pedido")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

    </dl>
</div>
@Html.ActionLink("Concluir", "PedidoAceito", new { id = Model.COD_PEDIDO })
@Html.ActionLink("Cancelar", "Cancelar", new { id = Model.COD_PEDIDO })

